@font-face {
	font-family: 'poller_oneregular';
	src: url('./fonts/pollerone/pollerone-webfont.eot');
	src: url('./fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('./fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('./fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}

@font-face {
	font-family: 'leckerli_oneregular';
	src: url('./fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('./fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('./fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('./fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

.top-logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.a-tag{
    font-size: 14px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 30px;
    color: black;
    opacity: 0.8;
}
.a-tag:hover{
    color: #0ba39c;
}
.navigation{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.driver{
    margin-top: 50px;
    position: relative;
}
.mexican-guy{
    width: 100%;
}
.text1{
    font-size: 20px;
    background-color: #ffffff;
    padding: 23px 27px 25px;
    font-family: poller_oneregular;
}
.list-li{
    position: absolute;
    left: 50%;
    top: 20%;
}
.similar{
    background-color:#252525;
    color:#fff;
    margin: 25px 0;
    padding: 10px 20px;
    font-size: 20px;
}
.read{
    background-color:#0ba39c;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    top:50px
}
.read:hover{
    background-color:#1fc3bc;
    transition: 0.7s ease-in-out;
    
}
.spawn{
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 190px;
}
.trio-mandili{
    border: 2px solid black;
    opacity: 0.8;
}
.trio-mandili:hover{
    opacity: 1;
    transition: 0.4s ease-in-out;
}
.text{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-family: poller_oneregular;
    font-size: 20px;
}
.p-text{
    color: #fff;
    text-align: center;
}
.last-box{
    margin-top: 50px;
    background-color: #252525;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
}

.goal{
    margin-left: 20px;
}